{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <title>{%block title%}{%endblock title%}</title>
</head>
<body>
    <nav class="flex flex-start">
        <div class="px-6 py-6 text-6xl font-semibold">
            <p>Finance System</p>
        </div>
        {% if request.user.is_authenticated %}
        <div class="px-6 py-6 rounded-xl bg-red-500 hover:bg-red-700">
            <p><a href="{% url 'logout' %}"></a></p>
        </div>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>