{% extends 'core/base.html' %}

{% block title %}home{% endblock title %}

{% block content %}
<main class="flex justify-center items-center h-screen w-full">
    <section class="w-3/5 h-96 flex justify-around rounded-xl bg-teal-400">
        <div class="flex justify-center">
            {% if  request.user.is_authenticated %}
                <div class="text-2xl font-semibold">
                <span> Let's take a look on your budget! </span>
                <a href="{% url 'budget_status' %}"><div class="w-36 py-6 flex justify-center items-center rounded-xl bg-green-500 hover:bg-green-700">
                    Budget
                </div></a>
                </div>
            {% else %}
                <div class="w-1/2 px-4 py-4">
                    <p class="text-xl font-semibold"> Have you already got an account? Let's check your finances! </p>
                        <a href="{% url 'login' %}"><div class="w-36 py-6 flex justify-center items-center rounded-xl bg-green-500 hover:bg-green-700">
                            <p>Login</p>
                        </div></a>
                </div>
                <div class="w-1/2 px-4 py-4">
                    <p class="text-xl font-semibold"> Still not a member of our service? Join us! </p>
                    <a href="{% url 'signup' %}"><div class="w-36 py-6 flex justify-center items-center rounded-xl bg-green-500 hover:bg-green-700">
                        <p>Sign in</p>
                    </div></a>
                </div>
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}