{% extends 'core/base.html' %}

{% block title %} Budget {% endblock title %}

{% block content %}
<section>
    {% for expense in expenses %}
        <p><a href="{% url 'budget:expense_detail' %}">{{ expense.name }}</a></p>
    {% endfor %}
</section>
<main class="flex justify-center">
    <div>
        <p class="px-4 py-4 text-2xl flex justify-start">{{ user.username }}</p>
        <p class="px-4 py-4 text-xl flex justify-center">{{ budget.wealth }}</p>
    </div>
</main>
{% endblock content %}