{% extends 'core/base.html' %}

{% block title %}Income detail{% endblock title %}

{% block content %}
<main class="h-screen w-full">
    <section class="flex flex-col items-center">
        <div class="w-full flex justify-center">
            <span class="text-6xl font-semibold">{{income.name}}</span>
        </div>
        <div class="w-full flex justify-center text-2xl">
            <p>{{income.description}}</p>
        </div>
        <div>
            <span>{{income.income}}</span>
        </div>
    </section>
</main>
{% endblock content %}